#
# Master env for deploying Bitcast validators
# Copy this file to .env and fill in the values.
#

# Wallet
WALLET_NAME=
HOTKEY_NAME=

RAPID_API_KEY=
CHUTES_API_KEY=
WANDB_API_KEY=

# Validator ports (must be unique)
BITCAST_PORT=8092
BITCAST_X_PORT=8093

# Optional toggles
DISABLE_AUTO_UPDATE=false